{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>

<hr/>
{% if locations %}
{% for loc in locations %}
	<div class="row">
	<div class="col-sm-12"">
		<div class="thumbnail">
		<h4>{{ loc.title }}{% if request.user.is_superuser %} <small>{{ loc.user.username }}</small>{% endif %}</h4>
		<small><a href='{{ request.path }}?q={{ loc.location }}'>{{ loc.location }}</a> | <a href='{{ request.path }}?q={{ loc.category }}'>{{ loc.category }}</a></small>
		<ul>
			{% for item in loc.item_set.all %}
				<li style="margin-bottom: 15px">
					<b><a href='{{ request.path }}?q={{ item.item_name }}'>{{ item.item_name }}</a></b><br/>

					{% if item.item_picture.url %}
						<p><img src="{{ item.MEDIA_URL }}{{ item.item_picture.url }}" width="300px"></p>
					{% endif %}
					{% for ing in item.get_item %}
						<span class="badge badge-default"><a href='{{ request.path }}?q={{ ing }}'>{{ ing }}</a></span>
					{% endfor %}
				</li>
				<p>{% if item.claimed %}Claimed by {{ item.claimer }}{% else %}Unclaimed{% endif %}</p>
				{% if request.user.is_superuser %}
					{% if not item.claimed %}
						<a href="{% if request.user.is_superuser %}{{ item.get_absolute_url }}{% else %}{{ item.get_absolute_url1 }}{% endif %}">Claim Item</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
		</div>
	</div>
	</div>	
{% endfor %}

{% else %}
	<p class='lead'>No Items Found</p>
{% endif %}

{% endblock %}