{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>

<form class='form' method='GET' action='.'>
	<input type='text' placeholder='Search..' name='q' value='{{ request.GET.q }}'>
	<button class='btn btn-default' type='submit'>Search</button>
</form>

<hr/>
{% if locations %}
{% for loc in locations %}
	<div class="row">
	<div class="col-sm-12"">
		<div class="thumbnail">
		<h4>{{ loc.title }}</h4>
		<small><a href='{{ request.path }}?q={{ loc.location }}'>{{ loc.location }}</a> | <a href='{{ request.path }}?q={{ loc.category }}'>{{ loc.category }}</a></small>
		<ul>
			{% for item in loc.item_set.all %}
				<li style="margin-bottom: 15px">
					<b>{{ item.item_name }}</b><br/>
				</li>
			{% endfor %}
		</ul>
		</div>
	</div>
	</div>
	
{% endfor %}

{% else %}
	<p class='lead'>No Items Found</p>
{% endif %}

{% endblock %}