{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- {% if form.non_field_errors %}
	<div class="col-md-12 offset-md-0 alert alert-danger" role="alert">
		<p>
			Please enter a correct and password. Note that both<br/>
			fields may be case-sensitive.
		</p>
	</div>
{% endif %} -->

{% if next %}
	{% if user.is_authenticated %}
		<div class="col-md-12 offset-md-0 alert alert-danger" role="alert">
			<p>Your account doesn't have to this page. To proceed, please login with an account that has access.</p>
		</div>
	{% else %}
		<div class="col-md-12 offset-md-0 alert alert-danger" role="alert">
			<p>Please login to see the page</p>
		</div>
	{% endif %}
{% endif %}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<span class="anchor" id="formLogin"></span>
			<!-- form card login -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Login</h3>
				</div>
			<div class="card-block">
				{% if form.errors %}
				<div class="col-md-12 offset-md-0 alert alert-danger" role="alert">
					<strong>Oh snap!</strong> Please enter a correct and password. Note that both fields may be case-sensitive.
				</div>
				{% endif %}

				<form method="post" action="{% url 'login' %}" class="form" role="form" autocomplete="off" id="formLogin">{% csrf_token %}
				<div class="form-group">
					{{form.username.label}}
					{{ form.username }}
				</div>
				<div class="form-group">
					{{form.password.label}}
					{{ form.password }}
				</div>
				<button type="submit" class="btn btn-success btn-lg float-center" value="{{ next }}">Login</button>
				</form>
			</div>
                    <!--/card-block-->
			</div>
                    <!-- /form card login -->
		</span>
	</div>
</div>

{% endblock %}