{% extends "base.html" %}

{% block content %}

{% load staticfiles %}



{% if next %}
	{% if user.is_authenticated %}
		<div class="col-md-12 offset-md-0 alert alert-danger" role="alert">
			<p>Your account doesn't have to this page. To proceed, please login with an account that has access.</p>
		</div>
	{% else %}
		<div class="col-md-12 offset-md-0 alert alert-danger" role="alert">
			<p>Please login to see the page</p>
		</div>
	{% endif %}
{% endif %}

<div class="container py-5">
	<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    <!-- form card login -->
                    <div class="cards card rounded-1">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
							<form method="post" action="{% url 'login' %}" class="form" role="form" autocomplete="off" id="formLogin">{% csrf_token %}
                            {% if form.errors %}
							<div class="col-md-12 offset-md-0 alert alert-danger" role="alert">
								<strong>Oh snap!</strong> Please enter a correct and password. Note that both fields may be case-sensitive.
							</div>
							{% endif %}
							<div class="form-group">
								<label for="uname1">Username</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    {{ form.password }}
                                </div>
                                <div>
                                
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-center" value="{{ next }}">Login</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}