<div class='container col-sm-12 text-center col-sm-offset-3'>
	{% if request.user.is_authenticated %}
		{% if request.user.is_superuser %}
			<a href='{% url "home" %}'>Home</a> |
			<a href='{% url "claimed" %}'>Claimed</a> |
			<a href='{% url "locations:location" %}'>Locations</a> |
			<a href='{% url "items:item" %}'>Items</a> |
			<a href='{% url "profile:details" username=user.username %}'>List of items</a> |
			<a href='{% url "logout" %}'>Logout</a>
		{% else %}
			<a href='{% url "home" %}'>Home</a> |
			<a href='{% url "claimed" %}'>Claimed</a> |
			<a href='{% url "locations:list" %}'>Locations</a> |
			<a href='{% url "items:list" %}'>Items</a> |
			<a href='{% url "profile:detail" username=user.username %}'>{{ user.first_name }} {{ user.last_name }}</a> |
			<a href='{% url "logout" %}'>Logout</a>
		{% endif %}
	{% else %}
	<a href='{% url "login" %}'>Login</a> |
	<a href='{% url "register" %}'>Register</a>
	{% endif %}
</div>