{% extends "base.html" %}


{% block head_title %}{{ form.instance.title }} | Items | {{ block.super }}{% endblock head_title %}

{% block content %}

<h1>{{ form.instance.title }}</h1>
<p>Location and category: {{ form.instance.location_and_Category }}</p>


{% if form.instance.item_picture.url %}
<p><img src="{{ form.instance.MEDIA_URL }}{{ form.instance.item_picture.url }}" width="300px"></p>
{% endif %}

<!-- <p>{{ form.instance.MEDIA_URL }}{{ form.instance.item_picture.url }}</p> -->

<small>{{ form.instance.timestamp }}, Updated {{ form.instance.updated|timesince }} ago</small>

<hr/>
<h3>Make Changes</h3>
{% include 'snippets/form-snippet.html' with form=form %}

{% endblock %}